/target
/ele_bot.log
/debug/TestDisplayUSB/
screenshot_*.bmp
/config.toml
nul
*guff
/external
/assets/images/result.png
/assets/images/rust_result.png
/rknn_test_result.png
/result.png
/log
/graphify-out
*.log
/.idea/
/.claude/settings.local.json
/.claude/CLAUDE.md
/.repowise/
/.mcp.json
/.vscode/
/.kimi-code
